@mixin breakpoint($point) {
  @if $point == largedesktop {
    @media  (min-width: 1441px) {
      @content;
    }
  }
  @if $point == desktop {
    @media  (min-width: 1025px) {
      @content;
    }
  } @else if $point == tablet {
    @media  (min-width: 768px) {
      @content;
    }
  } @else if $point == tabletmobile {
    @media  (min-width: 320px) {
      @content;
    }
  } @else if $point == mobileandrotate {
    @media (min-width: 320px) {
      @content;
    }
  } @else if $point == mobilerotate {
    @media (min-width: 479px) {
      @content;
    }
  } @else if $point == mobile {
    @media (min-width: 320px) {
      @content;
    }
  } @else if $point == smallmobile {
    @media (min-width: 568px) {
      @content;
    }
  } @else if $point == rotate {
    @media (max-height: 550px) and (min-height: 0) {
      @content;
    }
  }
}