.hero {
    text-align: center;
    padding-bottom: 80px;

    @include breakpoint(tablet) {
        text-align: start;
        background-color: transparent;
        background-image: url();
    }

    @include breakpoint(largedesktop) {
        text-align: start;
        background-color: transparent;
        margin-left: $margin-desktop;
        margin-right: $margin-desktop;
        padding-bottom: 180px;
    }

    div.imagenes {
        @include breakpoint(tablet) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 30px;
        }

        @include breakpoint(largedesktop) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 40px;
        }
    }

    img.logotipo {
        position: absolute;
        margin-top: 50px;
        margin-left: -65px;

        @include breakpoint(tablet) {
            width: 172px;
            position: relative;
            margin: 0;
        }

        @include breakpoint(largedesktop) {
            width: 172px;
            position: relative;
            margin: 0;
        }
    }

    figure.fig-hero {
        position: absolute;
        text-align: center;
        margin-top: 90px;
        display: flex;
        justify-content: space-between;
        margin-left: 110px;
        gap: 15px;

        @include breakpoint(tablet) {
            position: relative;
            margin: 0;
            gap: 32px;
        }

        @include breakpoint(largedesktop) {
            position: relative;
            margin: 0;
            gap: 32px;
        }
        
        img {
            max-width: 13%;

            @include breakpoint(tablet) {
                max-width: 20%;
            }
        }
    }

    img.principal-desktop {
        //display: none;
        @include breakpoint(mobile) {
            display: none;
        }

        @include breakpoint(tablet) {
            display: flex;
            position: absolute;
            background-color: transparent;
            max-width: 322px;
            max-height: 600px;
            margin-left: 620px;
            margin-top: 417px;
            overflow: visible;
        }

        @include breakpoint(largedesktop) {
            display: flex;
            position: absolute;
            background-color: transparent;
            max-width: 322px;
            max-height: 600px;
            margin-left: 650px;
            margin-top: 440px;
            overflow: visible;
        }

    }

    img.principal-mobile {
        align-items: center;
        align-content: center;
        max-width: 174px;
        max-height: 353px;

        @include breakpoint(tablet) {
            display: none;
        }

        @include breakpoint(largedesktop) {
            display: none;
        }
    }

    h1 {
        margin-bottom: 24px;

        @include breakpoint(tablet) {
            margin-top: 80px;
            max-width: 80%;
            display: flex;
            flex-wrap: wrap;
            position: relative;
        }

        @include breakpoint(largedesktop) {
            margin-top: 127px;
            max-width: 75%;
            position: relative;
            margin-bottom: 44px;
        }

        span.adam {
            text-decoration-line: underline;
            text-decoration-color: $green;
        }
    }

    p {
        margin-bottom: 24px;

        @include breakpoint(tablet) {
            max-width: 60%;
        }

        @include breakpoint(largedesktop) {
            max-width: 40%;
            margin-bottom: 66px;
        }
    }
    
}

.categories {
    text-align: center;
    border-top: 1px solid $gray-ligth;
    border-bottom: 1px solid $gray-ligth;
    padding-top: 40px;
    padding-bottom: 40px;

    @include breakpoint(tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        text-align: start;
    }

    @include breakpoint(largedesktop) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        text-align: start;
        margin-right: $margin-desktop;
        margin-left: $margin-desktop;
        padding-top: 72px;
        padding-bottom: 72px;
    }

    p {
        margin-bottom: 24px;
    }
}

.projects {
    padding-top: 80px;
    padding-bottom: 80px;

    @include breakpoint(tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 40px 24px;
    }

    @include breakpoint(largedesktop) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 40px 24px;
        margin-left: $margin-desktop;
        margin-right: $margin-desktop;
    }

    header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        align-items: center;

        @include breakpoint(tablet) {
            grid-column: 1 / span 2;
        }

        @include breakpoint(largedesktop) {
            grid-column: 1 / span 2;
        }
    }

    article:hover {
        img {
            background-color: $gray;
            opacity: 0.4;
        }

        div.hover {
            visibility: visible;
        }
    }

    article {
        margin-bottom: 40px;

        img {
            max-width: 100%;
            margin-bottom: 20px;
        }

        img:hover {
            background-color: $gray;
            opacity: 0.4;
        }

        h3 {
            margin-bottom: 7px;
        }

        ul {
            gap: 20px;
            margin-bottom: 20px;

            li:last-child {
                text-transform: uppercase;
            }
        }

        div.hover {
            @include breakpoint(largedesktop) {
                visibility: hidden;
                text-align: center;
                position: absolute;
                margin-left: 230px;
                margin-top: -350px;
                display: flex;
                flex-direction: column;
                gap: 40px;
            }

            a {
                margin-right: 20px;

                @include breakpoint(largedesktop) {
                    margin: 0px;
                }
            }
        }
    }
}

.contact {
    width: 100%;
    background-color: $gray;
    margin-right: -16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 60px;
    padding-bottom: 87px;
    text-align: center;
    background-color: $gray;
    background-image: url("../../img/ovals.svg");
    background-repeat: no-repeat;
    background-size: 450px;
    background-position: -250px 450px;
    border-bottom: 1px solid $gray-ligth;

    @include breakpoint(tablet) {
        padding: 60px 162px 92px 162px;
        background-position: -270px 600px;
    }

    @include breakpoint(largedesktop) {
        padding: 60px 165px 92px 165px;
        background-position: -110px 350px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 200px;
    }

    h1 {
        margin-bottom: 20px;
        
        @include breakpoint(largedesktop) {
            grid-column: 1;
            text-align: start;
        }
    }

    p {
        margin-bottom: 20px;

        @include breakpoint(tablet) {
            margin-bottom: 40px;
        }

        @include breakpoint(largedesktop) {
            grid-column: 1;
            text-align: start;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 32px;
        color: $gray-ligth;

        @include breakpoint(largedesktop) {
            grid-row: 1 / span 2;
            grid-column: 2;
        }

        input:not(:focus) {
            background-color: transparent;
            padding-bottom: 16px;
            padding-top: 5px;
            padding-left: 10px;
            border-style: hidden;
            border-bottom: 1px solid $gray-ligth;
            color: $gray-ligth;
        }

        input:focus {
            background-color: transparent;
            padding-bottom: 16px;
            padding-top: 5px;
            padding-left: 10px;
            border-style: hidden;
            border-bottom: 1px solid $gray-ligth;
            color: $gray-ligth;
        }

        input:valid { 
            border-bottom: 1px solid $green;
        }

        span {
            display: none;
            font-size: 12px;
            text-align: end;
            margin: 1px;
            padding: 1px;
            color: red;
        }

        input:invalid {
            background-color: transparent;
            padding-bottom: 16px;
            padding-top: 5px;
            padding-left: 10px;
            border-style: hidden;
            border-bottom: 1px solid red;
            color: $gray-ligth;
        }

        input:nth-child(2):invalid:focus-within ~ span {
            display: inline;
        }

        textarea {
            background-color: transparent;
            padding-bottom: 16px;
            padding-left: 10px;
            padding-top: 5px;
            border-style: hidden;
            border-bottom: 1px solid $gray-ligth; 
            height: 150px;   
            color: $gray-ligth;        
        }

        button {
            margin-left: auto;
            max-width: 60%;
            display: flex;
            text-align: end;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 5px;
            padding-bottom: 10px;
            background-color: $gray;
            color: white;
            border-style: hidden;
            border-bottom: 2px solid $green;
        }

        button:hover {
            color: $green;
            cursor: pointer;
        }
    }
}

footer {
    text-align: center;
    background-color: $gray;
    padding: 40px 16px;

    @include breakpoint(tablet) {
        display: flex;
        justify-content: space-between;
        padding: 40px 30px;
        align-items: center;
    }

    @include breakpoint(largedesktop) {
        display: flex;
        justify-content: space-between;
        padding: 48px 165px 92px 165px;
        align-items: center;
    }

    figure.fig-foot {
        margin-top: 20px;
        justify-content: center;
        display: flex;
        gap: 20px;

        @include breakpoint(tablet) {
            margin-top: 0;
        }

        @include breakpoint(largedesktop) {
            color: $green;
        }
        
        img {
            max-width: 20%;
        }

        img:hover {
            filter: invert(25%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
            cursor: pointer;
        }
    }
}