a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid $green;
    text-transform: uppercase;
    padding-bottom: 10px;
}

a:hover {
    color: $green;
}

ul {
    display: flex;
    list-style: none;
}

h1 {
    font-weight: 700;
    font-size: 40px;

    @include breakpoint(tablet) {
        font-size: 72px;
    }

    @include breakpoint(largedesktop) {
        font-size: 88px;
    }
}

h2 {
    font-size: 32px;
    font-weight: 700;

    @include breakpoint(tablet) {
        font-size: 48px;
    }    

    @include breakpoint(largedesktop) {
        font-size: 48px;
    }  
}

h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
}